<suite name="Full Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>
    <test name="Combined Tests">
        <packages>
            <!-- UI Tests -->
            <package name="com.testing.uiTesting.tests.pim" />
            <package name="com.testing.uiTesting.tests.dashboard" />
            <package name="com.testing.uiTesting.tests.leave" />
            <package name="com.testing.uiTesting.tests.myInfo" />
            <package name="com.testing.uiTesting.tests.recruitment" />
            <!-- API Tests -->
            <package name="com.testing.apiTesting.tests.post" />
            <package name="com.testing.apiTesting.tests.get" />
            <package name="com.testing.apiTesting.tests.delete" />
            <package name="com.testing.apiTesting.tests.put" />
        </packages>
        <parameter name="listener" value="io.qameta.allure.testng.AllureTestNg" />
    </test>
</suite>
